body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilizando o botão para iniciar o chatbot */
#start-chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Cor verde bonita */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#start-chatbot:hover {
    background-color: #45a049; /* Altera a cor ao passar o mouse */
}

.chatbot {
    display: none; /* Inicialmente oculto */
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px; /* Largura do chatbot */
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    overflow: hidden;
}

.chatbot-header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.chatbot-content {
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.chatbot-content ul {
    list-style-type: none;
    padding: 0;
}

.chatbot-content li {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #f1f1f1;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
}

.chatbot-content li:hover {
    background-color: #e0e0e0;
}

.chatbot-message {
    padding: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
    margin-top: 10px;
}

.chatbot-message .chatbot-name {
    font-weight: bold;
    color: #4CAF50;
}

.typing-indicator {
    display: none;
    animation: typing 1s infinite alternate;
    font-style: italic;
}

@keyframes typing {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
